# appveyor file
# http://www.appveyor.com/docs/appveyor-yml
init:
  - git config --global core.autocrlf true

# build version format
version: "{build}"

# what combinations to test
environment:
  matrix:
    - nodejs_version: "0.10"
    - nodejs_version: "0.11"
    - nodejs_version: "0.12"
    - nodejs_version: "1.0"
    - nodejs_version: "4"
    - nodejs_version: "5"

platform:
  - x86
  - x64

# Get the stable version of node
install:
  - ps: Install-Product node $env:nodejs_version
  - npm install -g npm
  - npm install

build: off

test_script:
  - node --version
  - npm --version
  - cmd: npm test

cache:
  - node_modules -> package.json
